.bg-header {
    height: 100px;
    color: floralwhite;
    background-color: #6348e9;
}

.bg-main {
    background-color: #c3c1c132;
    color: rgb(0, 0, 0);
}

.title {
    padding-top: 20px;
}

.padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

.col {
    padding-top: 15px;
}

.bg-right {
    height: 420px;
    background-color: aqua;

}

.p-3 { 
    padding: spacer !important; 
}

.paddin-right {
	margin-right: 10px;
}

.fa-accessible-icon, .fa-dollar-sign, .fa-clock, .fa-hand-holding-usd, .fa-percent {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.block {
    width: 100%;
    border-radius: 0px;
}

.form-label {
    font-size: 18px !important;
    font-weight: '600';
}

.alert-text {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-top: 20px !important;
}

.margin-top {
    padding-top: 50px;
}

.css-line {
    text-decoration: line-through !important;
}


